* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

.container {
	--width: 1600px;
	width: calc(var(--width));
	margin: 0 auto;
}

.top_page {}

.header {
	background: #222222;
	display: flex;
}

.header_logo {
	padding: 18px 0 19px 231px;
	margin: 0 41px 0 0;
}

.header_logo_item {}

.header_search {
	padding: 28px 0 20px 0;
}

.header_search_item {}

.header_buttons {
	padding: 26px 240px 20px 0;
	display: flex;
	justify-content: flex-end;
	max-width: 1600px;
	width: 100%;
	gap: 33px;
}

.header_buttons_menu {}

.buttons_menu_item {}

.header_buttons_account {}

.buttons_account_item {}

.header_buttons_buy {}

.buttons_buy_item {}

.announcement {
	background: #F1E4E6;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 63px;
	width: 100%;
}

.announcement_pic {}

.announcement_pic_item {}

.announcement_info {
	padding: 290px 331px 381px 0;
	width: 100%;
	display: flex;
	flex-direction: column;

}

.vertical_column {
	border-left: 12px solid #F16D7F;
	height: 92px;
	position: absolute;
	margin-left: -22px;

}

.announcement_title {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 58px;

	color: #222222;
	text-transform: uppercase;
}

.announcement_subtitle {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;

	color: #222222;
	text-transform: uppercase;
}

.color_subtitle {
	color: #F16D7F;
}

.category {
	background-color: #F8F8F8;
	padding: 65px 0 96px 0;
	display: grid;
	grid-template-columns: repeat(3, 360px);
	grid-gap: 30px;
	justify-content: center;
	margin: 0 auto;


}

.category_women {}

.women_item {}

.category_men {}

.men_item {}

.category_kids {}

.kids_item {}

.category_accesories {
	grid-column: span 3;
	grid-row: span 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 60px;
	max-width: 1140px;
}

.accesories_item {}

.catalog_info {
	background-color: #F8F8F8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 48px;
}

.catalog_title {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	color: #222222;
}

.catalog_title_text {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #9F9F9F;
}

.catalog {
	background-color: #F8F8F8;
	margin: 0 auto 48px auto;
	width: 100%;
	display: grid;
	grid-template-columns: 360px 360px 360px;
	gap: 30px;
	justify-content: center;
	/* display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 30px;
	padding-left: calc(50% - 570px);
	padding-right: calc(50% - 570px); */
}

.catalog_item_001 {}

.item_001 {}

.catalog_item_title {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 24px 0 16px 16px;
}

.catalog_item_text {
	width: 314.74px;
	height: 51px;

	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #5D5D5D;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0 0 16px 16px;
}

.price {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #F16D7F;
	flex: none;
	order: 2;
	flex-grow: 0;
	margin: 0 0 24px 16px;
}

.catalog_item_001 {
	grid-column-start: 1;
	grid-column-end: 2;
}

.catalog_item_002 {
	grid-column-start: 2;
	grid-column-end: 3;
}

.catalog_item_003 {
	grid-column-start: 3;
	grid-column-end: 4;
}

.catalog_item_004 {
	grid-column-start: 1;
	grid-column-end: 2;
}

.catalog_item_005 {
	grid-column-start: 2;
	grid-column-end: 3;
}

.catalog_item_006 {
	grid-column-start: 3;
	grid-column-end: 3;
}

.catalog_show_all {

	padding: 15px 39px;
}

.catalog_show_all_button {
	font-family: 'Lato';
	font-size: 16px;
	background: none;
	border: 1px solid #FF6A6A;
	border-radius: 5px;
	margin: 0 auto 60px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 212px;
	height: 48px;
}