* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.top_page {}

.header {
	background: #222222;
	display: flex;
	justify-content: center;
	/* padding-left: calc(50% - 800px);
	padding-right: calc(50% - 800px) */
}

.header_logo {
	padding: 18px 0 19px 231px;
	margin: 0 41px 0 0;
}

.header_logo_item {}

.header_search {
	padding: 28px 0 19px 0;
}

.header_search_item {}

.header_buttons {
	padding: 26px 240px 20px 0;
	display: grid;
	grid-template-columns: repeat(3, 33px);
	/* justify-content: right; */
	/* width: 100%; */
	/* width: 1600px; */
	gap: 33px;
	margin-left: 859px;
}

.header_buttons_menu {}

.buttons_menu_item {}

.header_buttons_account {}

.buttons_account_item {}

.header_buttons_buy {}

.buttons_buy_item {}

.announcement {
	background: #F1E4E6;
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-height: 764px;
	height: 100%;
}

.announcement_pic {
	margin-left: 0;
	display: flex;
	justify-content: right;
}

.announcement_pic_item {
	width: 800.58px;
	height: 764px;
	left: 0px;
	top: 75px;
	/* margin: auto; */
}

.announcement_info {
	padding: 290px 331px 381px 0;
	display: flex;
	flex-direction: column;
	justify-content: left;
	margin-left: 0px;
}

.vertical_column {
	border-left: 12px solid #F16D7F;
	height: 92px;
	position: absolute;
	margin-left: -22px;

}

.announcement_title {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 58px;

	color: #222222;
	text-transform: uppercase;
}

.announcement_subtitle {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;

	color: #222222;
	text-transform: uppercase;
}

.color_subtitle {
	color: #F16D7F;
}

.category {
	background-color: #fff;
	padding: 65px 0 56px 0;
	display: grid;
	grid-template-columns: repeat(3, 360px);
	grid-gap: 30px;
	justify-content: center;
	margin: 0 auto;


}

.center_pic {
	margin-top: -158px;
}

.category_info {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;

	color: #FFFFFF;
	text-transform: uppercase
}

.category_for {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	text-align: center;

	color: #F16D7F;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
}

.category_women {}

.women_item {}

.category_men {}

.men_item {}

.category_kids {}

.kids_item {}

.category_accesories {
	grid-column: span 3;
	margin: 108px 0 0 0;
}

.category_info_accesories {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;

	color: #FFFFFF;
	text-transform: uppercase;

	margin-top: -116px;
}

.category_for_accesories {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	text-align: center;

	color: #F16D7F;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
}

.catalog_info {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 48px;
	padding-top: 96px;
}

.catalog_title {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	color: #222222;
}

.catalog_title_text {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #9F9F9F;
}

.catalog {
	max-width: 1140px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin: 0 auto;
}

.catalog_item {
	background: #F8F8F8;
	display: inline-block;
	vertical-align: top;
}

.catalog_item_title {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 24px 0 16px 16px;
}

.catalog_item_text {
	width: 314.74px;
	height: 51px;

	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #5D5D5D;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0 0 16px 16px;
}

.price {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #F16D7F;
	flex: none;
	order: 2;
	flex-grow: 0;
	margin: 0 0 24px 16px;
}

.catalog_show_all {
	padding-top: 48px;
	padding-bottom: 60px;
	background-color: #fff;
	/* padding: 15px 39px; */
}

.catalog_show_all_button {
	font-family: 'Lato';
	font-size: 16px;
	background: none;
	border: 1px solid #FF6A6A;
	border-radius: 5px;
	margin: 0 auto 60px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 212px;
	height: 48px;
}

.advantages {
	background-color: #222224;
	font-family: 'Lato';
	font-style: normal;
	color: #FBFBFB;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 360px);
	gap: 30px;
	justify-content: center;
	align-items: center;
	padding: 103px 0 104px 0;
}

.advantages_item {}

.advantages_img {
	margin-bottom: 28px;
}

.advantages_title {
	font-weight: 400;
	font-size: 19.96px;
	line-height: 24px;
	margin-bottom: 16px;
}

.advantages_text {
	font-weight: 300;
	font-size: 13.972px;
	line-height: 17px;
}

.feedback {
	background-image: url(../img/background.jpg);
	/* max-width: 1600px;
	max-height: 448px; */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	font-family: 'Lato';
	font-style: normal;
	text-align: center;
	color: #222224;
	display: grid;
	grid-template-columns: 360px 557px;
	justify-content: center;
	gap: 223px;
	padding-top: 97px;
	padding-bottom: 126px;
}

.feedback_comments {}

.comments_link {}

.comments_autor {
	margin-bottom: 30px;
}

.comments_text {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #222224;
}

.comments_italic {
	font-style: italic;
}


.feedback_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form_text {}

.form_title {
	font-weight: 700;
	font-size: 24px;
	line-height: 167.2%;
}

.form_subtitle {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	padding-bottom: 32px;
}

.form {
	max-width: 349px;
	margin: 0 auto;
}

.form_subscribe {
	display: flex;
	justify-content: center;
	min-height: 49px;
}

input[type="email"] {
	padding: 7px 10px 6px 23px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #E1E1E1;
	border: none;
	border-radius: 20px 0 0 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	display: flex;
	align-items: center;
	outline: none;
}

input[type="email"]::placeholder {
	color: #8B8B8C;
}

input[type="email"]:focus {
	cursor: pointer;
}

button {
	display: block;
	padding: 7px 20px 6px 21px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	border-radius: 0 20px 20px 0;
	background-color: #F16D7F;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}

button:hover {
	background-color: #fff;
	color: #F16D7F;
}

button:active {
	background-color: #F16D7F;
	color: #fff;
}



.footer {
	background: #222224;
	display: flex;
	justify-content: center;
	gap: 655px;
}

.footer_year {}

.year_text {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #FBFBFB;
	padding-top: 30px;
	padding-bottom: 30px;
}

.footer_social {
	padding-top: 24px;
	padding-bottom: 23px;
}



@media (min-width: 768px) and (max-width: 1024px) {

	.header {}

	.header_logo {
		padding-left: 0;
		margin-right: 41px;
	}

	.header_search {
		padding-top: 28px;
		padding-bottom: 19px;
	}

	.header_buttons {
		padding: 19px 0 18px 0;
		margin-left: 50%;
	}

	.announcement {

		justify-content: space-between;
		max-height: 368px;
		height: 100%;
	}

	.announcement_pic_item {
		width: 386px;
		height: 368px;
	}

	.announcement_info {
		padding: 138px 34px 138px 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: left;
		margin-left: 0px;
	}

	.announcement_title {
		font-size: 44px;
		line-height: 53px;
	}

	.announcement_subtitle {
		font-size: 24px;
		line-height: 29px;
	}

	.category {
		width: 736px;
		padding: 65px 0 56px 0;
		gap: 19px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background-color: transparent;
	}

	.center_pic {
		margin-top: -115px;
	}

	.women_item {
		width: 232.33px;
		height: 167.62px;
	}

	.men_item {
		width: 232.04px;
		height: 167.62px;
	}

	.kids_item {
		width: 232.89px;
		height: 167px;
	}

	.category_accesories {}

	.accesories_item {
		height: 116.09px;
		margin-top: -45px;
	}

	.accesories_text {
		margin-top: -87px;
	}

	.catalog_info {
		padding-bottom: 72.74px;
		background-color: transparent;
	}

	.catalog {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		justify-content: center;
	}

	.catalog_item {
		background: #F8F8F8;
	}

	/* .catalog_item_002 {
		background: #F8F8F8;
	} */

	.catalog_show_all {
		background-color: transparent;
		align-items: center;
		padding-bottom: 0px;
		margin-bottom: 0;
	}

	.advantages {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 133px);
		gap: 48px;
		padding-top: 48px;
		padding-bottom: 64px;
	}

	.advantages_item {}

	.advantages_text {
		max-width: 360px;
		margin: 0 auto;
	}

	.feedback {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0px;
		background-size: cover;
		padding-bottom: 100px;
		padding-top: 64px;
	}

	.comments_link {
		padding-top: 64px;
		margin-bottom: 48px;
	}

	.comments_autor {}

	.comments_text {
		max-width: 360px;
	}

	.feedback_form {
		margin-top: 48px;
		max-width: 557px;
	}

	.form_text {
		padding-top: 0;
		margin-bottom: 27px;
	}

	.form_subtitle {
		padding-bottom: 0;
	}

	.footer {
		gap: 305px;
	}

	.footer_year {}

	.year_text {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #FBFBFB;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.footer_social {
		padding-top: 24px;
		padding-bottom: 23px;
	}




}


@media (max-width: 767px) {
	.header {
		background: #222222;
		display: flex;
		justify-content: left;
		/* padding-left: calc(50% - 800px);
		padding-right: calc(50% - 800px) */
	}

	.header_logo {
		padding: 18px 0 19px 18px;
		margin-right: 41px;
	}

	.header_buttons {
		padding: 26px 14px 20px 0;
		margin-left: auto;
		gap: 0px;
		display: flex;
		justify-content: right;
	}

	.buttons_account_item {
		display: none;
	}

	.buttons_buy_item {
		display: none;
	}

	.announcement {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.announcement_pic {
		display: none;
	}

	.announcement_info {
		padding: 148px 0 149px 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.vertical_column {
		border-left: 12px solid #F16D7F;
		height: 61px;
		position: absolute;
		margin-left: -22px;

	}

	.announcement_title {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 900;
		font-size: 48px;
		line-height: 46px;

		color: #222222;
		text-transform: uppercase;
	}

	.announcement_subtitle {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;

		color: #222222;
		text-transform: uppercase;
	}

	.category {
		padding: 65px 0 56px 0;
		/* gap: 19px; */
		display: flex;
		flex-wrap: wrap;
		/* justify-content: center; */
		/* margin-bottom: 100px; */
		background-color: #FFFFFF;
	}

	.center_pic {
		margin-top: -150px;
	}

	.women_item {
		width: 343px;
		height: 247px;
	}

	.men_item {
		margin-top: 100px;
		width: 343px;
		height: 249px;
	}

	.kids_item {
		margin-top: 100px;
		width: 343px;
		height: 248px;
	}

	.accesories_item {

		width: 343.26px;
		height: 116.09px;
		margin-top: -8px;
		left: 4.27%;
		right: 4.2%;
		top: 24.99%;
		bottom: 72.95%;
	}

	.accesories_text {
		margin-top: -87px;
	}

	.catalog_info {
		padding-top: 64px;
		padding-bottom: 64px;
		background-color: #FFFFFF;
	}

	.catalog {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		justify-content: center;
	}

	.catalog_item_001 {
		background: #F8F8F8;
	}

	.catalog_item_002 {
		background: #F8F8F8;
	}

	.catalog_item_003 {
		background: #F8F8F8;
	}

	.catalog_item_004 {
		background: #F8F8F8;
	}

	.catalog_item_005 {
		background: #F8F8F8;
	}

	.catalog_item_006 {
		background: #F8F8F8;
	}

	.catalog_show_all {
		background-color: transparent;
	}



	.advantages {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 129px);
		gap: 46.83px;
		padding-top: 48px;
		padding-bottom: 81px;
	}

	.advantages_item {}

	.advantages_img {
		margin-bottom: 27px;
	}


	.advantages_text {
		max-width: 300px;
		margin: 0 auto;
	}

	.feedback {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		/* max-width: 343px; */
		padding-top: 64px;
		padding-bottom: 110px;
		gap: 59px;
	}

	.feedback_comments {
		margin-left: 40px;
		margin-right: 40px;
	}

	.comments_link {}

	.comments_autor {}

	.comments_text {
		font-size: 18px;
		line-height: 22px;
	}

	.comments_italic {
		font-style: italic;
	}


	.feedback_form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.form_text {}

	.form_title {
		font-weight: 700;
		font-size: 24px;
		line-height: 37px;
	}

	.form_subtitle {
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
		padding-bottom: 32px;
	}

	.form {
		max-width: 349px;
		margin: 0 auto;
	}

	.form_subscribe {
		display: flex;
		justify-content: center;
		min-height: 49px;
		font-size: 14px;
		line-height: 21px;
	}

	input[type="email"] {}

	input[type="email"]::placeholder {}

	input[type="email"]:focus {}

	button {}

	button:hover {}

	button:active {}



	.footer {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		gap: 0px;
	}

	.footer_year {}

	.year_text {
		padding-bottom: 9px;
		padding-top: 0px;
	}

	.footer_social {
		margin-bottom: 40px;
		padding-top: 43px;
		padding-bottom: 0;
	}


}